@model CarInsurance.Models.Insuree

<h1>Insuree Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">First Name</dt>
        <dd class="col-sm-10">@Model.FirstName</dd>

        <dt class="col-sm-2">Last Name</dt>
        <dd class="col-sm-10">@Model.LastName</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.EmailAddress</dd>

        <dt class="col-sm-2">DOB</dt>
        <dd class="col-sm-10">@Model.DateOfBirth.ToShortDateString()</dd>

        <dt class="col-sm-2">Car</dt>
        <dd class="col-sm-10">@Model.CarYear @Model.CarMake @Model.CarModel</dd>

        <dt class="col-sm-2">DUI</dt>
        <dd class="col-sm-10">@Model.DUI</dd>

        <dt class="col-sm-2">Tickets</dt>
        <dd class="col-sm-10">@Model.SpeedingTickets</dd>

        <dt class="col-sm-2">Coverage</dt>
        <dd class="col-sm-10">@Model.CoverageType</dd>

        <dt class="col-sm-2">Quote</dt>
        <dd class="col-sm-10">@Model.Quote</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back</a>
